{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Datos Personales -->
        <div class="card card-primary card-outline">

            <div class="card-header">
                <h3 class="card-title">{{ title }}</h3>
            </div>
              
            <!-- /.card-header -->
            <div class="card-body">
                <table id="productos" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Oferta</th>
                            <th>Marca</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.id }}</td>
                            <td><img style="width: 100px;" src="/assets/{{producto.imagen}}" alt="{{producto.nombre}}"></td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.precio }}</td>
                            <td>{{ producto.cantidad }}</td>
                            <td>{{ producto.oferta }}</td>
                            <td>{{ producto.marca }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="buttons"></div>
            </div>
            <!-- /.card-body -->
        </div><!-- /.card -->


    </div>
</div>
<!-- /.row -->

{% endblock %}


{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock %}


{% block scripts %}
<!-- DataTables  & Plugins -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/jszip/jszip.min.js"></script>
<script src="/assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
    $(function () {
        $("#productos").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": true, "paging": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#buttons');
        
    });
</script>
{% endblock %}
