{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Datos Personales -->
        <div class="card card-primary card-outline">

            <div class="card-header">
                <h3 class="card-title">{{ title }}</h3>
            </div>
              
            <!-- /.card-header -->
            <div class="card-body">
                <table id="productos" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            {% if user.tipo == 1 %}
                            <th>Stock</th>
                            {% endif %}
                            <th>Oferta</th>
                            <th>Marca</th>
                            {% if user.tipo == 2 %}
                            <th>Comentario</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.id }}</td>
                            <td><img style="width: 100px;" src="/assets/{{producto.imagen}}" alt="{{producto.nombre}}"></td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.precio }}</td>
                            {% if user.tipo == 1 %}
                            <td>{{ producto.cantidad }}</td>
                            {% endif %}
                            <td>{{ producto.oferta }}</td>
                            <td>{{ producto.marca }}</td>
                            {% if user.tipo == 2 %}
                            <td>
                                {% if producto.exists_valoracion %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-producto-{{ producto.id }}">Editar</button>
                                {% else %}
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-producto-{{ producto.id }}">Añadir</button>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="buttons"></div>
            </div>
            <!-- /.card-body -->
        </div><!-- /.card -->


    </div>
</div>
<!-- /.row -->

{% if user.tipo == 2 %}
<!-- Modales de las Valoraciones -->
{% for producto in productos %}
<div class="modal fade" id="modal-producto-{{ producto.id }}">
    <div class="modal-dialog" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Valoración para el producto #{{ producto.id }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
               <form action="" method="post">
                   {% csrf_token %}

                   {{ producto.form_valoracion | crispy }}

                   <button type="submit" class="btn btn-primary">Guardar</button>
                   <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
               </form>
            </div>
            <!--<div class="modal-footer justify-content-between">
                <button type="reset" class="btn btn-danger" data-dismiss="modal">Volver</button>
            </div>-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endfor %}
{% endif %}

{% endblock %}


{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
{% endblock %}


{% block scripts %}
<!-- DataTables  & Plugins -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/jszip/jszip.min.js"></script>
<script src="/assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
    $(function () {
        $("#productos").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": true, "paging": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#buttons');
        
    });
</script>
{% endblock %}
