{% extends 'website/base.html' %}

{% block body %}
<main class="container">
  <select id="mySelect" class="selectpicker" onchange="setNum();">
    <option value="row-cols-md-2">2</option>
    <option value="row-cols-md-3">3</option>
    <option selected value="row-cols-md-4">4</option>
    <option value="row-cols-md-5">5</option>
    <option value="row-cols-md-6">6</option>
  </select>
  <div id="rowCards"class="row row-cols-1 row-cols-md-4 g-4">
{% for producto in productos %}




<div class="col">
  <form action='#' method='POST'>
    {% csrf_token %}
    <input type="hidden" id="id" name="id" value="{{producto.id}}"/>
    <input type="hidden" id="web" name="web" value="{{web}}"/>
  <div class="card h-100">
    <img class="card-img-top" src="assets/{{producto.imagen}}" alt="{{producto.nombre}}">
    <div class="card-body">
      <h4 class="card-title">{{producto.nombre}}</h4>
      <p class="card-text">{{producto.descripcion}}</p>
      <p class="card-text">{{producto.oferta}}</p>
        <hr>
          <p class="card-text">Restantes: {{producto.cantidad}}</p>
        
    </div>
    <div class="card-footer">
      <div class="row">
      <div class="col-6">
        {% if producto.id in id %}
          <button type="submit" name="submit" value="borrar" class="btn btn-danger btn-block ">Borrar</button>
        {% else %}
          <button type="submit" name="submit" value="añadir" class="btn btn-primary btn-block">Añadir</button>
        {% endif %}
      </div>
        <div class="col-6">
          {% if producto.getPrecio != producto.precio %}
          <p class="card-text">Precio: <del>{{ producto.precio }}</del>€</p>
          <p class="card-text text-danger">Precio: {{ producto.getPrecio }} €</p>
          {% else %}
          <p class="card-text">Precio: {{ producto.getPrecio }}€</p>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</form>
</div>


{% endfor %}

</div>


</main>
{% endblock %}