{% extends 'base.html' %}

{% block body %}
<h2>{{ title }}</h2>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            {% for col in table.description %}
            <th>{{ col[0] }}</th>
            {% endfor %}
            {% if title == "Tabla de pedidos" %}
            <th>Detalles de pedido</th>
            {% endif %}
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            {% for data in row %}
            <td>{{ data }}</td>
            {% endfor %}
            {% if title == "Tabla de pedidos" %}
            <td>
                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{row[0]}}" aria-expanded="false" aria-controls="collapseExample">
                        Mostrar
                    </button>
                </p>
            </td>
            {% endif %}
            <td>
                {% if title != "Tabla de pedidos" %}
                    <a href="edit/stock/{{ row[0] }}"><i class="fas fa-edit fa-lg text-success"></i></a>
                {% endif %}
                <a href="delete/stock/{{ row[0] }}"><i class="fas fa-trash fa-lg text-danger"></i></a>
            </td>
        </tr>
            {% if title == "Tabla de pedidos" %}
                {% for row2 in table_detalle %}
                {% if row2[0] == row[0] %}
                <tr class="collapse" id="collapse{{row[0]}}">
                        <td colspan="2">Código del pedido:  {{ row2[0] }}</td>
                        <td colspan="2">Código del producto:  {{ row2[1] }}</td>
                        <td colspan="1">Cantidad:  {{ row2[2] }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<a href="insert/stock"><button type="button" class="btn btn-primary">Insertar</button></a>

{% endblock %}